body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}

.container {
  max-width: 50%;
  width: 90%;
  height: auto;
  margin-top: 80px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 15px;
}

.container1 {
  max-width: 50%;
  width: 100%;
  height: auto;
  margin-top: 0px;
  background-color: rgb(183, 183, 255);
  border-radius: 15px;
}

.container2 {
  max-width: 50%;
  width: 100%;
  height: auto;
  margin-top: 0px;
  background-color: 0;
  border-radius: 15px;
}

.container_box1 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;

  margin-left: 0px;
  background-color: rgb(183, 183, 255);
}

.container_box2 {
  text-align: center;

  padding: 25px 1% 20px 1%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: 0;
}

.img {
  width: 100px;
  border-radius: 50%;
}

.name {
  font-size: 30px;
  color: #2f244a;
  font-weight: 800;
}

.adress {
  font-size: 17px;
  color: #2f244a;
}

.description {
  font-size: 17px;
  color: #2f244a;
}

.text {
  color: hsl(0, 0%, 100%);
}

.container_links {
  height: auto;
  width: 80%;
  margin-top: 0px;
}

.boton {
  background-color: hsl(0, 0%, 20%);
  width: 300px;
  height: 50px;
  border-radius: 5px;
  padding: 3px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link_social {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
}

.profil {
  margin-bottom: 30px;
}

.boton:hover {
  background-color: #2f244a;

  transform: scale(1.1);
  transition: 0.5s;
}

.link_social:hover {
  color: rgb(183, 183, 255);
}

.boton:focus-within {
  outline: none;
  background-color: #2f244a;
  padding: 5px 30px;
  transform: scale(1.1);
  transition: 0.5s;
}

.link_social:focus,
.boton:focus-within .link_social {
  color: rgb(183, 183, 255);
}

.link_social:focus {
  outline: none;
  background-color: #2f244a;
  padding: 5px 30px;
  border-radius: 3px;
  transform: scale(0.9);
  transition: 0.2s;
}

/* 2da tarjeta */
h2 {
  font-size: 1.3rem;
  color: rgb(183, 183, 255);
}

h3 {
  font-size: 1.2rem;
}

.par {
  margin-left: 20px;
}

.edad {
  font-size: 1.2rem;
}

.container_pasiones_Habilidades {
  margin-top: 25px;
  margin-bottom: 10px;
}

ol {
  margin-top: 10px;
}

ul {
  margin-top: 5px;
}

li {
  margin-top: 5px;
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  color: hsla(0, 0%, 100%, 0.676);
}

.container_back {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.back {
  margin-left: 5px;
  font-size: 1.1rem;
  color: hsl(0, 0%, 100%);
}

.container_back a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.container_back:hover i {
  color: rgb(183, 183, 255);
}
.container_back:hover a {
  color: rgb(183, 183, 255);
}

/* responsive */

@media (min-width: 1200px) and (max-width: 1280px) {
  .container {
    max-width: 65%;
  }
}

@media (min-width: 1071px) and (max-width: 1199px) {
  .container {
    max-width: 70%;
  }
  .container_box2 {
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media (min-width: 940px) and (max-width: 1070px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 834px) and (max-width: 939px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 752px) and (max-width: 833px) {
  h2 {
    font-size: 1.1rem;
  }

  .container {
    max-width: 90%;
  }

  h3 {
    font-size: 1rem;
  }

  .edad {
    font-size: 1.1rem;
  }

  body {
    font-size: 15px;
  }
}

@media (max-width: 469px) {
  body {
    font-size: 11px;
  }
  .container {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .img {
    width: 85px;
    border-radius: 50%;
  }

  .name {
    font-size: 1.5rem;
  }

  .adress {
    font-size: 0.9rem;
    color: #2f244a;
  }

  .description {
    font-size: 0.8rem;
    color: #2f244a;
  }

  .boton {
    width: 170px;
    height: 25px;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .link_social {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .profil {
    margin-bottom: 30px;
  }
  .container1 {
    max-width: 40%;
    width: 90%;
    height: auto;
    margin-top: 0px;
    background-color: 0;
    border-radius: 15px;
    margin-left: 10px;
  }

  .container2 {
    max-width: 60%;
    width: 90%;
    height: auto;
    margin-top: 0px;
    background-color: 0;
    border-radius: 15px;
    margin-left: 5px;
  }
  /* 2da tarjeta */
  h2 {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  .par {
    margin-left: 10px;
  }

  .edad {
    font-size: 1rem;
  }

  .container_pasiones_Habilidades {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container_PH {
    margin-right: 10px;
  }

  ol {
    margin-top: px;
  }

  ul {
    margin-top: 0px;
  }

  li {
    margin-top: 0px;
  }
}
