@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  color-scheme: light dark;
  --margin: 0.5rem;
  --padding: 0.5rem;
}

body {
  --text-color: #1e1e1e;
  --text-color-secondary: rgb(61, 61, 255);
  --bkg-color: #e3e3e3;
  --bkg-color-secondary: #eee;
  --image-filter: brightness(1);
  --heading-font-weight: 700;
  --paragraph-font-weight: 450;
  --box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

body.dark-theme {
  --bkg-color: #1e1e1e;
  --text-color: #f1f1f1;
  --text-color-secondary: rgb(183, 183, 255);
  --bkg-color-secondary: #2b2931;
  --image-filter: brightness(0.8);
  --heading-font-weight: 500;
  --paragraph-font-weight: 400;
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #f1f1f1;
    --text-color-secondary: rgb(192, 192, 255);
    --bkg-color: #1e1e1e;
    --bkg-color-secondary: #2b2931;
    --image-filter: brightness(0.85);
    --heading-font-weight: 500;
    --paragraph-font-weight: 400;
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  body.light-theme {
    --text-color: #1e1e1e;
    --text-color-secondary: rgb(98, 98, 255);
    --bkg-color: #f1f1f1;
    --bkg-color-secondary: #eee;
    --image-filter: brightness(1);
    --heading-font-weight: 700;
    --paragraph-font-weight: 45 0;
    --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
}

body {
  background: var(--bkg-color);
  color: var(--text-color);
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

body * {
  transition: font-size 0.1s;
}

@media (max-width: 720px) {
  :root {
    --title-font-size: 2rem;
    --subtitle-font-size: 1.4rem;
    --subtitle-font-size-secondary: 1.1rem;
    --paragraph-font-size: 1rem;
    --small-font-size: 0.9rem;
  }

  .card {
    flex-direction: column;
  }

  .presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-presentation {
    height: clamp(20vh, 80vw, 60vh);
    width: clamp(50%, 70vw, 50vh);
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-side {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .left-side > * {
    text-align: center;
  }

  .right-side {
    width: 300px;
    height: clamp(150px, 50vw, 300px);
  }

  footer img {
    object-fit: cover;
  }

  .image-container {
    overflow: hidden;
    height: 250px;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .image-container > img {
    transition: all 0.3s ease-in-out;
  }

  .card {
    flex-direction: column;
    width: 95vw;
    min-width: 0;
    max-width: 100%;
    align-items: center;
  }
  .image-container {
    width: 100%;
    height: auto;

    margin: 0 auto;
    aspect-ratio: 1/1;
  }
  .description {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 721px) and (max-width: 1200px) {
  :root {
    --title-font-size: 2.5rem;
    --subtitle-font-size: 1.7rem;
    --subtitle-font-size-secondary: 1.3rem;
    --paragraph-font-size: 1.2rem;
    --small-font-size: 1.2rem;
  }

  .card {
    flex-direction: row;
  }

  .presentation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .image-presentation {
    height: clamp(400px, 50vw, 40vh);
    width: minmax(300px, 20vw);
  }

  .about-me {
    width: 40vw;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-footer {
    display: flex;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .right-side {
    width: 300px;
    height: clamp(300px, 35vh, 60vh);
  }

  .content-footer img {
    object-fit: cover;
  }

  .card {
    flex-direction: row;
    width: 90vw;
    max-width: 700px;
    min-width: 0;
    align-items: stretch;
  }
  .image-container {
    width: 40%;
    min-width: 180px;
    max-width: 250px;
    aspect-ratio: 1/1;
  }
  .description {
    width: 60%;
    padding: 1.2rem;
    box-sizing: border-box;
  }
}

@media (min-width: 1201px) and (max-width: 1700px) {
  :root {
    --title-font-size: 2.7rem;
    --subtitle-font-size: 1.7rem;
    --subtitle-font-size-secondary: 1.4rem;
    --paragraph-font-size: 1.2rem;
    --small-font-size: 1.2rem;
  }

  .card {
    flex-direction: row;
  }

  .presentation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .image-presentation {
    height: clamp(400px, 50vw, 40vh);
    width: minmax(300px, 25vw);
  }

  .about-me {
    width: 40vw;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-footer {
    display: flex;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .right-side {
    width: clamp(200px, 30w, 40vw);
    height: clamp(300px, 35vh, 60vh);
  }

  .content-footer img {
    object-fit: cover;
  }

  .card {
    flex-direction: row;
    width: min(90%, 700px);
    max-width: 700px;
    min-width: 0;
    align-items: stretch;
  }
  .image-container {
    width: 250px;
    min-width: 200px;
    max-width: 300px;
    aspect-ratio: 1/1;
  }
  .description {
    width: auto;
    padding: 1.5rem;
    box-sizing: border-box;
  }
}

@media (min-width: 1701px) {
  :root {
    --title-font-size: 3.5rem;
    --subtitle-font-size: 2.2rem;
    --subtitle-font-size-secondary: 2rem;
    --paragraph-font-size: 1.6rem;
    --small-font-size: 1.4rem;
  }

  body {
    gap: 80px;
  }

  .card {
    flex-direction: row;
  }

  .presentation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .image-presentation {
    height: clamp(400px, 50vw, 40vh);
    width: minmax(300px, 25vw);
  }

  .about-me {
    width: 40vw;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }

  .content-footer {
    display: flex;
    gap: clamp(50px, 5vw, 100px);
  }

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .right-side {
    height: clamp(400px, 50vw, 40vh);
    width: minmax(300px, 25vw);
  }

  .content-footer img {
    object-fit: cover;
  }
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: calc(var(--padding) * 2) calc(var(--padding) * 5);
}

.style-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--text-color-secondary);
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}

.presentation {
  display: flex;
  gap: 0.8rem;
}

.image-presentation {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.about-me {
  background-color: var(--bkg-color-secondary);
  padding: calc(var(--padding) * 3);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.title-about-me {
  font-size: var(--title-font-size);
  margin: 0;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: var(--image-filter);
}

/* main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 5);
}

button,
.button {
  border: none;
  background-color: var(--text-color-secondary);
  color: var(--bkg-color-secondary);
  font-size: var(--paragraph-font-size);
  font-weight: var(--heading-font-weight);
  cursor: pointer;
  padding: calc(var(--padding) * 1) calc(var(--padding) * 2);
  border-radius: 5px;
  transition: background-color 0.1s, color 0.1s;
  margin-top: calc(var(--margin) * 2);
}

main h1 {
  text-align: center;
  font-size: var(--title-font-size);
  font-weight: var(--heading-font-weight);
}

.flex-cards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  margin: 0.5rem;
  background-color: var(--bkg-color-secondary);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  overflow: hidden;
  font-size: clamp(1rem, 2vmax, 1.5rem);
  transition: all 0.3s;
}

.image-container {
  overflow: hidden;
  width: auto;
  height: auto;
  aspect-ratio: 3/2;
}

.image-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.text-description {
  font-size: var(--paragraph-font-size);
  gap: 0.8rem;
  font-weight: var(--paragraph-font-weight);
}

.title-description {
  text-align: center;
  font-size: var(--subtitle-font-size);
  font-weight: var(--heading-font-weight);
}

.alias {
  font-size: var(--subtitle-font-size-secondary);
  text-align: center;
  color: var(--text-color-secondary);
  font-weight: var(--heading-font-weight);
  padding: calc(var(--padding) * 2);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding) * 2) calc(var(--padding) * 2);
  gap: 5px;
}

/* footer */

footer {
  height: fit-content;
  background: var(--bkg-color-secondary);
  box-shadow: var(--box-shadow);
  display: flex;
  gap: 20px;
  padding: calc(var(--padding) * 2);
}

#footer-contact-desc {
  color: var(--text-color-secondary);
}

.left-side {
  display: flex;
}

.left-side * {
  text-align: center;
}

.right-side {
  overflow: hidden;
  border-radius: 10px;
  /* border: 2px solid var(--text-color-secondary); */
  box-shadow: var(--box-shadow);
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}

footer img {
  object-fit: cover;
}

.title-footer {
  font-size: var(--subtitle-font-size);
  font-weight: var(--heading-font-weight);
  margin: calc(var(--margin) * 2);
}

.content-footer {
  font-size: var(--small-font-size);
  font-weight: var(--paragraph-font-weight);
  display: flex;
  gap: clamp(15px, 5vw, 40px);
}

.phone-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.email-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.bottom-footer {
  display: flex;
  font-size: var(--small-font-size);
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: var(--padding);
}

.icon-button {
  color: var(--text-color-secondary);
}

footer a {
  color: var(--text-color-secondary);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

a:hover,
a:focus {
  text-shadow: 0px 0px 2px var(--text-color-secondary);
}

.card:focus-visible,
.right-side > img:focus-visible,
.about-me:focus-visible,
.image-presentation > img:focus-visible {
  outline: none;
  border-radius: 10px;
  transition: border 0.2s;
  border: 3px solid var(--text-color-secondary);
}

.image-presentation > img:focus-visible {
  outline: none;
  border-radius: 10px;
  transition: border 0.3s;
  border: 3px solid var(--bkg-color-secondary);
}
